<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AntiAFK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <AntiAFK.Properties.Settings>
            <setting name="AutoExitReturnCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogoutIntervalComboBox" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RandomCharacterCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDesktopNotificationCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoReloginCheckbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RandomTalkCheckbox_Normal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomTalkCheckbox_Shout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomTalkCheckbox_Team" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomTalkCheckbox_Group" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomTalkContentCheckbox_Robot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TalkConentTextBox" serializeAs="String">
                <value>To ask why we fight, is to ask why the leaves fall. 我们生而为战，犹如树叶自会飘落。</value>
            </setting>
        </AntiAFK.Properties.Settings>
    </userSettings>
</configuration>
